<h4>Fill in the Form Inputs to Add the Data to the Table</h4>
<form action="/" method="post">
    <label>Name of Exercise:
        <input type="text" name="name" id="newName" maxlength="100">
    </label>

    <label>Number of Reps:
        <input type="number" name="reps" id="newRep" min="1" max="50">
    </label>

    <label>Weight of Weights:
        <input type="number" name="weight" id="newWeight" min="0" max="200">
    </label>

    <label>Date:
        <input type="date" name="date" id="newDate">
    </label>

    <label>Unit of Weight:
        <input type="text" name="unit" id="newUnit">
    </label>

    <input type="submit" value ="add to table" id="addToTable">
</form>
<br/>
<br/>
<br/>
<table id="exerciseTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>Units</th>
        </tr>
    </thead>
    <tbody>
        {{#each results}}
            <tr>
                <td style="display: none;" id="deleteId">{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.reps}}</td>
                <td>{{this.weight}}</td>
                <td>{{this.date}}</td>
                <td>{{this.unit}}</td>
                <td><input type="button" value="delete" onclick="deleteRow('exerciseTable', this)"></td>
                <td><input type="button" value="edit"></td>
            </tr>
        {{/each}}
    </tbody>
</table>